# ==========================================================
# LangChain
# ==========================================================

langchain==0.3.27
langchain-core==0.3.86
langchain-community==0.3.31
langchain-text-splitters==0.3.11

# ==========================================================
# Model Providers
# ==========================================================

langchain-groq==0.3.8

# ==========================================================
# Embeddings
# ==========================================================

langchain-huggingface==0.3.1
sentence-transformers==5.6.0
transformers==4.57.1
torch==2.8.0

# ==========================================================
# Vector Store
# ==========================================================

faiss-cpu==1.14.3

# ==========================================================
# PDF Loader
# ==========================================================

pymupdf==1.28.0

# ==========================================================
# Environment
# ==========================================================

python-dotenv==1.2.2

# ==========================================================
# UI
# ==========================================================

streamlit>=1.49,<2
